.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    height: calc(100% - 50px);
    overflow: auto;
    padding-right: 10px;
}


.btn_buy {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: calc(100% - 60px);
    background: #75ba75;
    font-size: 20px;
    color: #F6F6F6;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
}