@font-face {
  font-family: "Gerbera";
  src: url('./fonts/Gerbera.ttf');
}

@font-face {
  font-family: "Gerbera-Light";
  src: url('./fonts/Gerbera-Light.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Gerbera", sans-serif;
  background: #F6F6F6;
  color: #000;
}

h1 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}