.wrapper {
    display: flex;
    justify-content: space-between;

    gap: 50px;
}

.container {
    display: flex;
    gap: 20px;
}

.photo {
    width: 200px;
    height: 300px;
}

.photo img {
    display: inline-block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: centcer;
}

.info {
  font-family: "Gerbera-Light";
  font-weight: 400;
}

.info_title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 14px;
}

.info_price {
    margin-top: 5px;
}

.info_count {
    margin-top: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.button {
    cursor: pointer;
}